<style>
.navitem:not(#searchwrapper) {
    transform: translateY(7px);
}

.meno, .menc {
    cursor: pointer;
}

.footer {
    background-color: rgb(18, 18, 75);
    width: 100%;
    margin: 0;
    padding-bottom: 15px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    bottom: 0;
    position: relative;
}

.footerl {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.footerl>* {
    text-decoration: underline !important;
    color: rgb(117, 117, 117) !important;
    margin-top: 10px !important;
    background-image: none !important;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: initial;
    font-family: initial;
}

.footerl>p {
    text-decoration: none !important;
}

.footerl>a:hover, .footerl>a:active {
    color: rgb(143, 143, 143) !important;
}

.footer>h1 {
    margin-top: 0px;
    margin-bottom: 0;
    color: #fff !important;
}

body {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0px;
}
</style>
<div class="footer">
<h1>Botlist</h1>
<div class="footerl">
<a href="//discord.com/oauth2/authorize?client_id=890276769368801381&scope=bot&permissions=4294967039">Invite</a>
<a href="#">contact</a>
<a href="/">home</a>
<p>-</p>
<p>(Botlist © 2021/Botlist ® 2021/Botlist ™ 2021/Botlist made by/CC-infos | Botlist made by) Your Name</p>
</div>
</div>
</body>
</html>