<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>userlist</title>
    <link rel="stylesheet" href="/dark.css" id="css_mode">
    <script src="/library/index.js"></script>
</head>
<body onload="load()" style="width: 100vw; height: 100vh; position: absolute;">
    <%- include('header.ejs', {user: u}) %>
    <div class="content">
        <form action="/user/edit_submit" method="get" style="color: var(--textcol); margin-top: 30px; margin-left: 30px;">
            <label for="name">Bio: </label>
            <textarea name="bio" id="bio" required><%= u.bio.replaceAll("<br />", "\n") %></textarea>
            <br />
            <br />
            <button type="submit" class="primary">Submit</button>
            <!-- <input type="hidden" name="csrf_tok" value="<%= //csrf %>"> -->
        </form>
    </div>
    <%- include('footer.ejs', {user: u}) %>
</body>
</html>